/* Place CSS styles here */
@property --memberRotation {
  syntax: "<number>";
  initial-value: 0;
  inherits: true;
}

* {
  box-sizing: border-box; 
  margin: 0; 
  padding: 0;
}

ul.team {
  width: 80vmin;
  list-style: none;
  aspect-ratio: 1/1;
  border-radius: 50%;
  animation: memberRotation 10s linear infinite;

  > li {
    offset-path: border-box;
    offset-distance: calc(100% / var(--member-count) * var(--member-idx) + (var(--memberRotation) * 100%));
    width: calc(100% / (1 + (1 / sin(180deg / var(--member-count)))));
    position: relative;

    > img {
      position: absolute;
      width: 100%;
      scale: 0.8;
      aspect-ratio: 1/1;  
      object-fit: cover;
      border-radius: 50%;
      rotate: calc(-360deg / var(--member-count) * var(--member-idx) - (360deg * var(--memberRotation)));
    }

    .tooltip {
      display: none; 
      position: absolute;
      top: 100%; 
      left: 50%; 
      transform: translate(-50%, -20px); 
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      padding: 0.5rem;
      border-radius: 5px;
      white-space: nowrap; 
      z-index: 10; 
    }

    
    &:hover .tooltip {
      display: block; 
    }
  }

  &:has(img:hover) {
    animation-play-state: paused;
  }
}

@keyframes memberRotation {
  to { --memberRotation: 1; }
}

html, body { height: 100%; }
body { margin: 0; display: grid; place-items: center; padding: 2rem; background-color: black; }
